@import "tailwindcss";

@theme{
--color-grey: #8f8f8f;
--color-white: #cacaca;
--color-orange: #F55802;
--color-background: #0A0A0A;
--font-anton: var(--font-anton);
--font-geist: var(--font-geist);
}
.hero {
  background-image: url("/Assets/Images/hero5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body{
  color: #cacaca;
  background-color:#0A0A0A;
}
.about span{
  color: #F55802;
}

.navbar{
  background: linear-gradient(180deg, var(--token-62097cca-f151-4f9a-9dc9-13898e353a5a, rgb(10, 10, 10)) 0%, rgba(10, 10, 10, 0.7) 57.22304335585585%, rgba(10, 10, 10, 0) 100%);
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url(/Assets/Images/portrait-hero.png);
    background-position: top;
  }
}
